@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;}

#title{
    color: #00A1F1;
}    

h1 {
    font-size: 52px;
    text-align: left;
    margin-left: .5em;
    margin-top: .5em;
}

#bar {
    font-size: 36px;
    color: #EA4335;
    border-top: 1px #FFBB00 solid;
    border-bottom: 1px #FFBB00 solid;
    
}

#go {
    padding: 3em;
}

#about {
    padding: 3em;
}

#contact {
    padding: 3em;
}

#page-info1 {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #34A853;
    font-size: 28px;
}

    #page-info2 {
    padding-top: 1em;
    padding-bottom: 1em;
    color: #34A853;
    font-size: 28px;
}

#reading-img {
    width: 20%;
}

#makey-makey-img {
    width: 30%;
}